=simple_form_for(@user) do |f|
  = f.error_notification
  = f.input :agency_name
  = f.input :street_address
  = f.input :city
  = f.input :state
  = f.input :zip
  = f.input :tax_id, label: 'Tax ID/EIN'
  = f.button :submit
