%h1 Receiver Index
- @receivers.each do |receiver|
  = receiver.id
  - unless @user.donor?
    = link_to "#{receiver.email}", receiver
  - else
    = link_to "#{receiver.email}", donor_donation_receiver_path(@user, @donation, receiver)
