.content
  %nav.navbar.navbar-default#search-bar
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %br
        %ul.nav.navbar-nav.navbar-right
          %li
            = simple_form_for :search, url: donor_donation_receivers_path(@donation.donor, @donation), method: :get, html: {class: 'form-inline'} do |f|
              .form-group
                = f.input :distance, as: :select, collection: %w[5 10 20 30 50], label: 'Search within ', class: 'search-form', input_html: {style: 'margin-left: 10px;'}
                = f.input :zip, label: ' miles of ', class: 'search-form', input_html: {style: 'margin-left: 10px;'}
                = f.button :submit, 'Go!', class: 'search-form', input_html: {style: 'margin-left: 10px;'}
            %br
          = link_to 'Clear Search', donor_donation_receivers_path(@donation.donor, @donation, distance: '', zip: ''), class: 'btn btn-primary', id: 'clear-search'

  .container

    - if @receivers.any?
      .row
        - @receivers.each do |receiver|
          .row
            .col-lg-12.margin-bottom-30
              .portlet
                .portlet-title
                  .caption
                    %i.glyphicon.glyphicon-cutlery
                    %span.caption-subject.text-uppercase
                      = receiver.agency_name&.upcase
                    %span.caption-helper
                      Waiting on #{receiver.pending_donation_count} donation#{'s' if receiver.pending_donation_count != 1}
                  .actions
                    %a.btn{'data-toggle': "modal", 'data-target': "##{receiver.id}_contact"}
                      %i.glyphicon.glyphicon-phone-alt
                    %a.btn{'data-toggle': "modal", 'data-target': "##{receiver.id}_schedule"}
                      %i.glyphicon.glyphicon-calendar
                    = link_to 'Details', donor_donation_receiver_path(@donation.donor, @donation, receiver), class: 'btn'
                    = link_to 'Assign', donation_add_receiver_path(@donation, receiver_id:  receiver.id), class: 'btn btn-assign'
                .portlet-body
                  - if receiver.web_url
                    .row
                      .col-md-12
                        = link_to 'Visit Website', "#{receiver.website}"
                  .row
                    .col-md-3
                      %h5 Incoming Items:
                      - pending_items_in_strings(receiver).each do |item|
                        = item
                    .col-md-3
                      %h5 Restrictions:
                      - receiver.restrictions.each do |restriction|
                        - restriction.categories.each do |category|
                          = category.name
                        %br
                        - restriction.storage_temps.each do |storage_temp|
                          = storage_temp.description
                        %br
                    .col-md-3
                      %h5 Location:
                      %p
                        = receiver.street_address
                        %br
                        = "#{receiver.city}, #{receiver.state} #{receiver.zip}"
                    .col-md-3
                      .row
                        .col-xs-12
                          .text-center
                            %iframe{ src: "//www.google.com/maps/embed/v1/place?q=#{receiver.latitude},#{receiver.longitude}&zoom=7&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8"}
                            -# = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{receiver.latitude},#{receiver.longitude}&markers=#{receiver.latitude},#{receiver.longitude}&zoom=7&size=250x250&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
                            -#             class: 'img-responsive img-rounded', alt: "#{receiver.agency_name} on the map"
                      - if receiver.transportation_available?
                        %br
                        .row
                          .col-xs-12
                            .text-center
                              %i.glyphicon.glyphicon-ok
                              Pick-up available
                  .row
                    .col-md-6
                      - if receiver.demographics.any?
                        = "We typically serve around #{receiver.demographics.first.total_guests_served_per_week} people per week."
            .modal.fade{role: "dialog", id: "#{receiver.id}_contact"}
              .modal-dialog
                / Modal content
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"} ×
                    %h4.modal-title= receiver.agency_name&.upcase
                  .modal-body
                    .row
                      .col-sm-6
                        %h5.text-center
                          Daily Food Recovery Contact:
                        %table.table
                          %thead
                            %th
                            %th
                          %tbody
                            %tr
                              %td
                                %i.glyphicon.glyphicon-user
                              %td
                                = receiver.contact_details.first&.dfr_contact_name
                            %tr
                              %td
                                %i.glyphicon.glyphicon-earphone
                              %td
                                = "#{receiver.contact_details.first&.dfr_contact_office_phone} #{'(Primary)' if receiver.contact_details.first&.dfr_preferred_contact_method == 'office'}"
                            %tr
                              %td
                                %i.glyphicon.glyphicon-phone
                              %td
                                = "#{receiver.contact_details.first&.dfr_contact_cell_phone} #{'(Primary)' if receiver.contact_details.first&.dfr_preferred_contact_method == 'cell'}"
                            %tr
                              %td
                                %i.glyphicon.glyphicon-envelope
                              %td
                                = receiver.contact_details.first&.dfr_contact_email
                      .col-sm-6
                        %h5.text-center
                          General Contact Info:
                        %table.table
                          %thead
                            %th
                            %th
                          %tbody
                            %tr
                              %td
                                %i.glyphicon.glyphicon-user
                              %td
                                = receiver.contact_details.first&.contact_name
                            %tr
                              %td
                                %i.glyphicon.glyphicon-earphone
                              %td
                                = receiver.contact_details.first&.contact_phone
                            %tr
                              %td
                                %i.glyphicon.glyphicon-envelope
                              %td
                                = receiver.contact_details.first&.contact_email
                  -# .modal-footer
                  -#   = link_to 'Assign Receiver', donation_add_receiver_path(@donation, receiver_id:  receiver.id), class: 'btn btn-primary'
            .modal.fade{role: "dialog", id: "#{receiver.id}_schedule"}
              .modal-dialog
                / Modal content
                .modal-content
                  .modal-header
                    %button.close{"data-dismiss" => "modal", :type => "button"} ×
                    %h4.modal-title= receiver.agency_name&.upcase
                  .modal-body
                    .row
                      .col-sm-12
                        %h5 Hours of Operation:
                    .row
                      .col-sm-9
                        = render partial: 'donation_schedules/table_schedule', locals: { donation_schedules: receiver.donation_schedules, editable: false}
                  -# .modal-footer
                  -#   = link_to 'Assign Receiver', donation_add_receiver_path(@donation, receiver_id:  receiver.id), class: 'btn btn-primary'
      .row
        .col-md-12.text-center
          = paginate @receivers
    - else
      .row
        .col-md-12
          %h3 No results match your search!
