- if @user.donor?
  %h1 Receiver Details
  = @receiver.id
  = @receiver.email

  -# = simple_form_for [@user, @donation], add_receiver_path do |f|
  -#   = f.error_notification
  -#   = f.button :submit, label: 'Add This Receiver'
  - if @donation
    =link_to "Add to donation", donation_add_receiver_path(@donation, receiver_id: @receiver.id)

  - if @receiver.donations.any?
    %h2
      Incoming Donation Items
    - pending_items_in_strings(@receiver).each do |item|
      = item

- elsif @user.receiver?
  %h1 My Profile
  %h3
    = @user.id
    = @user.email

  .col-md-3
    = link_to 'My Donations', receiver_donations_path(@user)
