%h1 Receiver Details
= @receiver.id
= @receiver.email

-# = simple_form_for [@user, @donation], add_receiver_path do |f|
-#   = f.error_notification
-#   = f.button :submit, label: 'Add This Receiver'
- if @donation
  =link_to "Add to donation", donation_add_receiver_path(@donation)

- if @receiver.donations.any?
  %h2
    Incoming Donation Items
  - @receiver.donations.each do |donation|
    - donation.items.each do |item|
      = item.description.titleize
      = item.quantity
      = item.quantity_type.titleize
