.profile-content
  .text-center
    %h3 Food Receiver Agency Intake
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 1: Verify Tax Status
        .panel-body
          = simple_form_for @user, url: check_verification_receiver_path(@user), method: :get do |f|
            = f.error_notification
            .form-inputs
              .row
                .col-sm-12
                  %h4 Enter your tax ID or EIN number in the box below. Do not include any dashes or special characters.
              .row
                .col-sm-12
                  = f.input :tax_id, label: 'Tax ID/EIN', hint: "Ex: 123456789"
              .row
                .col-sm-12
                  %h4 Enter your agency's details below.
                  = f.input :agency_name
                  = f.input :web_url, hint: 'Ex: www.mywebsite.com'
                  = f.input :street_address
                  .row
                    .col-sm-4
                      = f.input :city
                    .col-sm-4
                      = f.input :state, as: :select, collection: %w[AL AK AZ AR CA CO CT DE FL GA HI ID IL IN IA KS KY LA ME MD MA MI MN MS MO MT NE NV NH NJ NM NY NC ND OH OK OR PA RI SC SD TN TX UT VT VA WA WV WI WY]
                    .col-sm-4
                      = f.input :zip
                  %hr.featurette-divider
                    .row
                      .col-sm-12.text-center
                        = f.submit 'Save & Continue', class: 'btn btn-success'
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 2: Enter Contact Details
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 3: Enter Agency Information
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 4: Enter Client Demographics
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 5: Enter Donation Logistics
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 6: Enter Food Restrictions
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 7: Set Up Schedule
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 8: Confirm & Finish
