= simple_form_for([@user, @restriction]) do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-10.col-md-offset-1
        %h4.text-center Restrictions
    .row
      .col-md-10.col-md-offset-1
        = f.association :categories, as: :check_boxes, collection: Category.all.to_a, label_method: :name, label: 'Check the food categories you are not able to receive:'
        = f.association :storage_temps, as: :check_boxes, collection: StorageTemp.all.to_a, label_method: :description, label: 'Check the starge methods you are not able to accomodate:'
    %br
    .row
      %h5.text-center If you have no restrictions click the "Save & Continue" button below to continue.
    %hr.featurette-divider
  .text-sm-right
    .form-actions
      .row
        .col-md-12.text-center
          = f.button :submit, "Save & Continue", { class: 'btn btn-success' }
