.profile-content
  .text-center
    %h3 Food Receiver Agency Intake
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-success
        .panel-heading
          %h4.panel-title
            %span.glyphicon.glyphicon-ok
            Verify Tax Status
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 2: Enter Contact Details
        .panel-body
          = simple_form_for([@user, @contact_detail]) do |f|
            = f.error_notification
            .form-inputs
              .row
                .col-md-6
                  %h4.text-center General Information
                  %hr.featurette-divider
                  = f.input :contact_name
                  = f.input :contact_phone
                  = f.input :contact_email
                .col-md-6
                  %h4.text-center Daily Food Recovery Information
                  %hr.featurette-divider
                    =f.input :dfr_contact_name, label: 'Daily Food Recovery Contact Name'
                    =f.input :dfr_contact_email, label: 'Daily Food Recovery Contact Email'
                    =f.input :dfr_contact_office_phone, label: 'Daily Food Recovery Contact Phone'
                    =f.input :dfr_contact_cell_phone, label: 'Daily Food Recovery Contact Cell Phone'
                    =f.input :dfr_preferred_contact_method, label: 'Daily Food Recovery Preferred Contact Method', as: :select, collection: %w[cell office email]
              %hr.featurette-divider
            .text-sm-right
              .form-actions
                .row
                  .col-md-12.text-center
                    = f.button :submit, "Save & Continue", { class: 'btn btn-success' }
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 3: Enter Agency Information
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 4: Enter Client Demographics
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 5: Enter Donation Logistics
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 6: Enter Food Restrictions
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 7: Set Up Schedule
  .row
    .col-sm-10.col-sm-offset-1
      .panel.panel-primary
        .panel-heading
          %h4.panel-title Step 8: Confirm & Finish
