%h4= @user.id
%p= @user.role
%p= "#{@user.first_name} #{@user.last_name}"
%p= @user.organization_name
=link_to 'Edit', edit_user_path(@user)
=link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?'}
=link_to 'New Donation', new_user_donation_path(@user)
=link_to :back

%h4 Donations

-@donations.each do |donation|
  = link_to "#{donation.id}", user_donation_path(@user, donation)
  %br
  - donation.items.each do |item|
    = item.description
    = item.quantity
    = item.quantity_type
    %br
