.profile-content
  - if @user.donor?
    %table.table.table-striped
      %thead
        %th
        - ['Recipient', 'Donation Date', 'Items', 'Tracking Code', 'Status'].each do |th|
          %th= th
      %tbody
        - @donations.each do |donation|
          %tr
            %td
              = link_to "View", donor_donation_path(@user, donation)
            %td
              -if donation.receiver
                = link_to "#{donation.receiver.agency_name.titleize}", donor_donation_receiver_path(donation.donor, donation, donation.receiver)
                = link_to "Edit", donor_donation_receivers_path(@user, donation), class: 'btn btn-primary btn-xs'
              -elsif donation.items.any?
                = link_to 'Assign Receiver', donor_donation_receivers_path(@user, donation)
            %td
              = format_date_long donation.created_at
            %td
              -if donation.items.any?
                - donation.items.each do |item|
                  = unscoped_food(item.food_id).name.titleize
                  = item.quantity
                  = item.quantity_type.titleize
              -else
                = link_to 'Add Food Item', new_donor_donation_donation_item_path(@user, donation) unless donation.donated?
                %br
            %td
              = donation.tracking_code if donation.donated?
            %td
              = donation_status_text donation
    - if @user.profile_completed?
      = simple_form_for [@user, @new_donation] do |f|
        = f.error_notification
        = f.button :submit, 'Start New Donation', class: 'btn btn-success btn-md'
    - else
      %h5.text-center.red You must complete your profile before starting a new donation.
      .text-center
        = link_to 'Edit Profile', edit_donor_path(@user), class: 'btn btn-primary'

  - if @user.receiver?
    %table
      %thead
        %th
        - ['Donor', 'Donation Date', 'Items', 'Tracking Code', 'Status'].each do |th|
          %th= th
      %tbody
        - @donations.each do |donation|
          %tr
            %td
              = link_to "View", receiver_donation_path(@user, donation)
            %td
              = donation.donor.email
            %td
              = format_date_long donation.donated_at
            %td
              - donation.items.each do |item|
                = unscoped_food(item.food_id).name.titleize
                = item.quantity
                = item.quantity_type.titleize
                %br
            %td
              = donation.tracking_code
            %td
              -if donation.received?
                = donation_status_text donation
              -else
                = link_to 'Confirm Receipt', donation_receive_path(donation)
