.profile-content
  - if @user.donor?
    %table.table.table-striped
      %thead
        %th
        - %w[Recipient Date Items Status].each do |th|
          %th= th
      %tbody
        - @donations.each do |donation|
          %tr
            %td
              = link_to "View", receiver_donation_path(@user, donation)
            %td
              -if donation.receiver
                = link_to "#{donation.receiver.agency_name.titleize}", donor_donation_receiver_path(donation.donor, donation, donation.receiver)
              -elsif donation.items.any?
                = link_to 'Add Receiver', donor_donation_receivers_path(@user, donation)
            %td
              = format_date_long donation.created_at
            %td
              -if donation.items.any?
                - donation.items.each do |item|
                  = unscoped_food(item.food_id).name.titleize
                  = item.quantity
                  = item.quantity_type.titleize
              -else
                = link_to 'Add Item', new_donor_donation_donation_item_path(@user, donation) unless donation.donated?
                %br
            %td
              = donation_status_text donation
    = simple_form_for [@user, @new_donation] do |f|
      = f.error_notification
      = f.button :submit, 'Start New Donation', class: 'btn btn-success btn-md'

  - if @user.receiver?
    %table
      %thead
        - %w[ID Donor Date Items Status].each do |th|
          %th= th
      %tbody
        - @donations.each do |donation|
          %tr
            %td
              = link_to "#{donation.id}", receiver_donation_path(@user, donation)
            %td
              = donation.donor.email
            %td
              = format_date_long donation.created_at
            %td
              - donation.items.each do |item|
                = unscoped_food(item.food_id).name.titleize
                = item.quantity
                = item.quantity_type.titleize
                %br
            %td
              -if donation.received?
                Confirmed
              -else
                = link_to 'Confirm Receipt', donation_receive_path(donation)
