.profile-content
  .text-center
    %h2
      Donation ##{@donation.id}
    %h3
      = donation_status_text @donation
  %hr.featurette-divider
  - if @user.donor?
    .row
      .col-md-12
        - if @donation.receiver
          .show-portlet
            .portlet-title
              .caption
                %i.glyphicon.glyphicon-cutlery
                %span.caption-subject.text-uppercase
                  = @donation.receiver.agency_name&.upcase
                %span.caption-helper
                  = link_to 'Change Receiver', donor_donation_receivers_path(@user, @donation), class: 'btn btn-primary btn-xs' unless @donation.donated?
              .actions
                %a.btn{'data-toggle': "modal", 'data-target': "##{@donation.receiver.id}_contact"}
                  %i.glyphicon.glyphicon-phone-alt
                %a.btn{'data-toggle': "modal", 'data-target': "##{@donation.receiver.id}_schedule"}
                  %i.glyphicon.glyphicon-calendar
                = link_to 'Details', donor_donation_receiver_path(@donation.donor, @donation, @donation.receiver), class: 'btn'
            .portlet-body
              .row
                .col-md-3
                  %h5 Incoming Items:
                  - pending_items_in_strings(@donation.receiver).each do |item|
                    = item
                .col-md-3
                  %h5 Restrictions:
                  - @donation.receiver.restrictions.each do |restriction|
                    - restriction.categories.each do |category|
                      = category.name
                    %br
                    - @donation.receiver.restrictions.each do |restriction|
                      - restriction.storage_temps.each do |storage_temp|
                        = storage_temp.description
                    %br
                .col-md-3
                  %h5 Location:
                  %p
                    = @donation.receiver.street_address
                    %br
                    = "#{@donation.receiver.city}, #{@donation.receiver.state} #{@donation.receiver.zip}"
                .col-md-3
                  .row
                    .col-xs-12
                      .text-center
                        = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@donation.receiver.latitude},#{@donation.receiver.longitude}&markers=#{@donation.receiver.latitude},#{@donation.receiver.longitude}&zoom=7&size=250x250&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
                                    class: 'img-responsive img-rounded', alt: "#{@donation.receiver.agency_name} on the map"
                  - if @donation.receiver.transportation_available?
                    %br
                    .row
                      .col-xs-12
                        .text-center
                          %i.glyphicon.glyphicon-ok
                          Pick-up available
          .modal.fade{role: "dialog", id: "#{@donation.receiver.id}_contact"}
            .modal-dialog
              / Modal content
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"} ×
                  %h4.modal-title= @donation.receiver.agency_name&.upcase
                .modal-body
                  .row
                    .col-sm-6
                      %h5.text-center
                        Daily Food Recovery Contact:
                      %table.table
                        %thead
                          %th
                          %th
                        %tbody
                          %tr
                            %td
                              %i.glyphicon.glyphicon-user
                            %td
                              = @donation.receiver.contact_details.first&.dfr_contact_name
                          %tr
                            %td
                              %i.glyphicon.glyphicon-earphone
                            %td
                              = "#{@donation.receiver.contact_details.first&.dfr_contact_office_phone} #{'(Primary)' if @donation.receiver.contact_details.first&.dfr_preferred_contact_method == 'office'}"
                          %tr
                            %td
                              %i.glyphicon.glyphicon-phone
                            %td
                              = "#{@donation.receiver.contact_details.first&.dfr_contact_cell_phone} #{'(Primary)' if @donation.receiver.contact_details.first&.dfr_preferred_contact_method == 'cell'}"
                          %tr
                            %td
                              %i.glyphicon.glyphicon-envelope
                            %td
                              = @donation.receiver.contact_details.first&.dfr_contact_email
                    .col-sm-6
                      %h5.text-center
                        General Contact Info:
                      %table.table
                        %thead
                          %th
                          %th
                        %tbody
                          %tr
                            %td
                              %i.glyphicon.glyphicon-user
                            %td
                              = @donation.receiver.contact_details.first&.contact_name
                          %tr
                            %td
                              %i.glyphicon.glyphicon-earphone
                            %td
                              = @donation.receiver.contact_details.first&.contact_phone
                          %tr
                            %td
                              %i.glyphicon.glyphicon-envelope
                            %td
                              = @donation.receiver.contact_details.first&.contact_email
          .modal.fade{role: "dialog", id: "#{@donation.receiver.id}_schedule"}
            .modal-dialog
              / Modal content
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"} ×
                  %h4.modal-title= @donation.receiver.agency_name&.upcase
                .modal-body
                  .row
                    .col-sm-12
                      %h5 Hours of Operation:
                  .row
                    .col-sm-9
                      = render partial: 'donation_schedules/table_schedule', locals: { donation_schedules: @donation.receiver.donation_schedules, editable: false}
        - else
          %h3
            -# - if @donation.items.any?
            -#   = link_to 'Assign A Receiver', donor_donation_receivers_path(@user, @donation) unless @donation.donated? || @donation.items.none?
            -# - else
            Add your items before selecting a receiver.
  - elsif @user.receiver?
    .row
      .col-md-12
        %h4 FROM:
        - if @donation.receiver
          .show-portlet
            .portlet-title
              .caption
                %i.glyphicon.glyphicon-cutlery
                %span.caption-subject.text-uppercase
                  = @donation.donor.agency_name&.upcase
                %span.caption-helper
            .portlet-body
              .row
                .col-sm-6.col-sm-offset-3
                  Donor Contact:
                  %table.table
                    %thead
                      %th
                      %th
                    %tbody
                      %tr
                        %td
                          %i.glyphicon.glyphicon-user
                        %td
                          = @donation.donor.contact_name
                      %tr
                        %td
                          %i.glyphicon.glyphicon-earphone
                        %td
                          = @donation.donor.contact_phone
                      %tr
                        %td
                          %i.glyphicon.glyphicon-phone
                        %td
                          = @donation.donor.contact_email
        - else
          %h3
            - if @donation.items.any?
              = link_to 'Assign Receiver', donor_donation_receivers_path(@user, @donation) unless @donation.donated? || @donation.items.none?
            - else
              Add your items before selecting a receiver.
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Items
        .panel-body
          .row
            .col-md-4.offset-md-8
              = link_to 'Add Food Item', new_donor_donation_donation_item_path(@user, @donation), class: 'btn btn-primary' unless @user.receiver? || @donation.donated?
        %table.table.table-striped
          %thead
            %th
              Food
            %th
              Quantity
            %th
              Category
            - if @user.donor? && !@donation.donated?
              %th
                Remove
          %tbody
            - @donation.items.each do |item|
              %tr
                %td
                  = link_to unscoped_food(item.food_id).name.titleize, donor_food_path(@user, unscoped_food(item.food_id))
                %td
                  #{item.quantity} #{item.quantity_type}
                %td
                  = unscoped_food(item.food_id).category.name
                - if @user.donor? && !@donation.donated?
                  %td
                    = link_to 'x', donor_donation_donation_item_path(@user, @donation, item), method: :delete, class: 'btn btn-danger'
        - if @user.donor?
          .panel-footer
            .row
              = simple_form_for [@user, @donation], html: {id: 'form'} do |f|
                .col-sm-3
                  = f.input :total_meals, hint: 'How many total meals are included in this donation?'
                .col-sm-3
                  = f.input :total_weight, as: :integer, required: true, hint: 'Enter the total weight of donation items in pounds.'
                .col-sm-3
                  = f.input :total_value_dollars, required: true, hint: 'For a donation valued at $20.75, put 20 in this box.'
                .col-sm-3
                  = f.label ' '
                  %br
                  = f.submit 'Save Summary', class: 'btn btn-primary', id: 'saveSummary', disabled: true
  - if @donation.donated?
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title Tracking Code
          .panel-body
            - if @user.donor?
              %p Write the below code on your donation. This code allows your donation to be tracked and confirmed as received.
            - if @user.receiver?
              %p The donation matching this record will have this code attached to it:
            %h3
              = @donation.tracking_code
  .row
    - if @user.donor?
      - if @donation.receiver
        - if @donation.donated?
          .col-md-12.text-center
            %h4
              Your donation can no longer be modified. Please contact the receiver directly for a change in plans.
        - else
          .col-md-6
            - if @donation.total_meals && @donation.total_weight && @donation.total_value_dollars
              %h2
                = link_to 'Confirm Donation', donation_donate_path(@donation), class: 'btn btn-success', width: '100%'
              %i
                You will no longer be able to modify your donation after confirming. Please contact the recipient of this donation & verify availability and details before confirming.
            - else
              %h2.green
                Complete the donation summary above before confirming your donation.
          .col-md-6
            - unless @donation.confirmed_by_donor?
              %h2
                = link_to 'Delete Donation', donor_donation_path(@user, @donation), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
              %i Donations cannot be retrieved after deletion.
      - else
        .col-md-6.col-md-offset-6
          - unless @donation.confirmed_by_donor?
            %h2
              = link_to 'Delete Donation', donor_donation_path(@user, @donation), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
            %i Donations cannot be retrieved after deletion.

  - if @user.receiver?
    - unless @donation.received?
      %h3
        = link_to 'Confirm Receipt', donation_receive_path(@donation), class: 'btn btn-success', width: '100%'
