%h1 Donation
= @donation.id
%h2 Donor Id
= @donation.user_id

= link_to 'Edit', edit_user_donation_path(@user, @donation)
= link_to 'Destroy', user_donation_path(@user, @donation), method: :delete, data: { confirm: 'Are you sure?'}
= link_to 'Index', user_donations_path(@user)
