.profile-content
  %h1 Donation
  = @donation.id
  %br
  = @donation.donated? ? 'donated' : 'pending'

  %h2 Donor
  = @user.email

  %h3 Items

  %ul
    - @donation.items.each do |item|
      %li
        = item.description
        = item.quantity
        = item.quantity_type
  = link_to 'Add Item', new_donor_donation_donation_item_path(@user, @donation) unless @user.receiver?
  - if @donation.items.any?
    - if @user.donor?
      %h3 Receiver
      - if @donation.receiver
        = link_to @donation.receiver.email, @donation.receiver
        = link_to 'Edit Receiver', donor_donation_receivers_path(@user, @donation)
      - else
        = link_to 'Add Receiver', donor_donation_receivers_path(@user, @donation)

  - if @user.donor?
    - if @donation.receiver
      %h3
        Step 4:
        - if @donation.donated?
          %br
          Your donation can no longer be modified. Please contact the receiver directly for a change in plans.
        - else
          = link_to 'Confirm Donation', donation_donate_path(@donation)
          You cannot modify a donation after this step.

    - if @donation.donated?
      %h3
        Tracking Code:
        = @donation.tracking_code

    = link_to 'Edit', edit_donor_donation_path(@user, @donation)
    = link_to 'Destroy', donor_donation_path(@user, @donation), method: :delete, data: { confirm: 'Are you sure?'}
    = link_to 'All Donations', donor_donations_path(@user)
  - if @user.receiver?
    - if @donation.received?
      %h3 Received
    - else
      %h3
        = link_to 'Confirm Receipt', donation_receive_path(@donation)
