.profile-content
  .text-center
    %h2 Donation ##{@donation.id}
  %hr.featurette-divider
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Status
        .panel-body
          = @donation.donated? ? 'donated' : 'pending'
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Donor
        .panel-body
          = @user.email
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Receiver
        .panel-body
          - if @donation.receiver
            = link_to @donation.receiver.email, @donation.receiver
            = link_to 'Edit Receiver', donor_donation_receivers_path(@user, @donation) unless @donation.donated?
          - else
            = link_to 'Add Receiver', donor_donation_receivers_path(@user, @donation) unless @donation.donated? || @donation.items.none?
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Items
        .panel-body
          .row
            .col-md-4.offset-md-8
              = link_to 'Add Item', new_donor_donation_donation_item_path(@user, @donation) unless @user.receiver? || @donation.donated?
        %table.table.table-striped
          %thead
            %th
              Food
            %th
              Quantity
            %th
              Category
            - if @user.donor?
              %th
                Remove
          %tbody
            - @donation.items.each do |item|
              %tr
                %td
                  = link_to item.food.name.titleize, donor_food_path(@user, item.food)
                %td
                  #{item.quantity} #{item.quantity_type}
                %td
                  = item.food.category.name
                - if @user.donor?
                  %td
                    = link_to 'x', donor_donation_donation_item_path(@user, @donation, item), method: :delete, class: 'btn btn-danger'
  - if @donation.donated?
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title Tracking Code
          .panel-body
            %p Write the below code on your donation. This code allows your donation to be tracked and confirmed as received.
            %h3
              = @donation.tracking_code
  .row
    - if @user.donor?
      - if @donation.receiver
        - if @donation.donated?
          .col-md-12.text-center
            %h4
              Your donation can no longer be modified. Please contact the receiver directly for a change in plans.
        - else
          .col-md-6
            - if @donation.items.any?
              %h2
                = link_to 'Confirm Donation', donation_donate_path(@donation), class: 'btn btn-success', width: '100%'
              %i
                You will no longer be able to modify your donation after confirming. Please contact the recipient of this donation & verify availability and details before confirming.
          .col-md-6
            - unless @donation.confirmed_by_donor?
              %h2
                = link_to 'Delete Donation', donor_donation_path(@user, @donation), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
              %i Donations cannot be retrieved after deletion.
      - else
        .col-md-6.col-md-offset-6
          - unless @donation.confirmed_by_donor?
            %h2
              = link_to 'Delete Donation', donor_donation_path(@user, @donation), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
            %i Donations cannot be retrieved after deletion.

  - if @user.receiver?
    - if @donation.received?
      %h3 Received
    - else
      %h3
        = link_to 'Confirm Receipt', donation_receive_path(@donation)
