%table
  %tbody
    - donation_schedules.each_with_index do |day|
      %tr
        %td
          = DonationSchedule::DAYS_IN_WORDS[day.day_of_week].titleize
        - if day.closed?
          %td{colspan: '3'}
            CLOSED
        - else
          %td
            = "#{twelve_hour(day.open_at_hour)}:#{minutes_to_string(day.open_at_minute)} #{am_or_pm(day.open_at_hour)}"
          %td
            = 'to'
          %td
            = "#{twelve_hour(day.close_at_hour)}:#{minutes_to_string(day.close_at_minute)} #{am_or_pm(day.close_at_hour)}"
        - if editable == true
          %td
            = link_to "Edit #{day.day_of_week_in_words.titleize} Schedule", edit_receiver_donation_schedule_path((@receiver || @user), day)
