.profile-content
  .row
    .col-md-5
      %h4 Edit Schedule for #{@donation_schedule.day_of_week_in_words.titleize}
      = simple_form_for [@user, @donation_schedule] do |f|
        = f.error_notification
        .row
          .col-xs-6
            = f.input :open_at_hour, as: :collection_select, collection: DonationSchedule::HOURS_OF_THE_DAY.zip(0.upto(24)), include_blank: 'Closed'
          .col-xs-6
            = f.input :open_at_minute, as: :collection_select, collection: (0..59).to_a.select { |n| n % 5 == 0}, selected: (f.object.open_at_minute or 0), include_blank: 'Closed'
        .row
          .col-xs-6
            = f.input :close_at_hour, as: :collection_select, collection: DonationSchedule::HOURS_OF_THE_DAY.zip(0.upto(24)), include_blank: 'Closed'
          .col-xs-6
            = f.input :close_at_minute, as: :collection_select, collection: (0..59).to_a.select { |n| n % 5 == 0}, selected: (f.object.open_at_minute or 0), include_blank: 'Closed'
          .col-xs-5
            = link_to 'Back', receiver_donation_schedules_path(@user), class: 'btn btn-primary'
          .col-xs-5.col-xs-offset-1
            = f.button :submit, 'Update Schedule', class: 'btn btn-success'

    .col-md-5.col-md-offset-1
      .row
        %h5 Current Schedule:
        = render partial: 'table_schedule', locals: {donation_schedules: @donation_schedules, editable: false}
      .row
  %hr.featurette-divider
