= simple_form_for [@user, @food] do |f|
  = f.error_notification
  = f.input :name
  = f.input :description
  = f.input :storage_temp, as: :collection_select, collection: ['Refrigerate', 'Freeze', 'Shelf Stable']
  = f.input :prepared_meal, as: :boolean
  = f.association :category, value_method: :id, label_method: :name
  = f.button :submit, label: 'Add Food to List'
