.profile-content
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title My Foods
        .panel-body
          .row
            .col-sm-12
              %p
                This is your overall list of foods.
                %br You can add food items to this list.
                A food item must be added to this list before it can be added to a donation.
          .row
            .col-md-4.offset-md-8
              = link_to 'Add Food', new_donor_food_path(@user), class: 'btn btn-primary'
        %table.table.table-striped
          %thead
            %th
              Food
            %th
              Description
            %th
              Storage
            %th
              Prepared Food?
            %th
              Category
            %th
              = params[:archived] == 'true' ? 'Restore' : 'Archive'
          %tbody
            - @foods.each do |food|
              %tr
                %td
                  = link_to food.name.titleize, donor_food_path(@user, food)
                %td
                  = food.description
                %td
                  = food.storage_temp
                %td
                  = food.prepared_meal ? 'Yes' : 'No'
                %td
                  = food.category.name
                - if @user.donor?
                  %td
                    = link_to donor_food_path(@user, food), method: :delete, class: "btn btn-#{params[:archived] == 'true' ? 'success' : 'warning'}" do
                      %i.glyphicon.glyphicon-folder-open
  .row
    .col-md-12
      - if params[:archived] == 'true'
        = link_to 'See Active Foods', donor_foods_path(archived: false)
      - else
        = link_to 'See Archived Foods', donor_foods_path(archived: true)
