.profile-content
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Your Foods
        .panel-body
          .row
            .col-md-4.offset-md-8
              = link_to 'New Food', new_donor_food_path(@user)
        %table.table.table-striped
          %thead
            %th
              Food
            %th
              Description
            %th
              Storage
            %th
              Prepared Meal?
            %th
              Category
            %th
              = params[:archive] ? 'Restore' : 'Archive'
          %tbody
            - @foods.each do |food|
              %tr
                %td
                  = link_to food.name.titleize, donor_food_path(@user, food)
                %td
                  = food.description
                %td
                  = food.storage_temp
                %td
                  = food.prepared_meal
                %td
                  = food.category.name
                - if @user.donor?
                  %td
                    = link_to donor_food_path(@user, food), method: :delete, class: 'btn btn-warning' do
                      %i.glyphicon.glyphicon-folder-open
  .row
    .col-md-12
      = link_to 'See Archived Foods', donor_foods_path(archived: true)
