.profile-content
  %h3= @food.name.titleize
  %h4 Description
  = @food.description
  %h4 Storage
  = @food.storage_temp
  %h4 Prepared Meal?
  = @food.prepared_meal
  %h4 Category
  = @food.category.name
  %br
  = link_to 'Edit', edit_donor_food_path(@user, @food)
