.profile-content
  .text-center
    %h2= @food.name.titleize
  %hr.featurette-divider
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Description
        .panel-body
          = @food.description
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Storage
        .panel-body
          = @food.storage_temp
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Category
        .panel-body
          = @food.category.name
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Prepared Food?
        .panel-body
          = @food.prepared_meal ? 'Yes' : 'No'
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Status
        .panel-body
          = @food.archived? ? 'Archived' : 'Active'
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Donation Count
        .panel-body
          = @food.donation_count
  .row
    .col-md-12
      = link_to 'Edit', edit_donor_food_path(@user, @food), class: 'btn btn-primary'
