%h1 Add Item To Donation #{@donation.id}

= simple_form_for [@user, @donation, @donation_item], url: donor_donation_donation_items_path, method: :post do |f|
  = f.error_notification
  = f.input :description
  = f.input :quantity
  = f.input :quantity_type
  = f.button :submit, label: 'Add Donation Items'
