.profile-sidebar
  .profile-userpic
    =image_tag 'profile-placeholder.png', class: 'img-responsive'

  .profile-usertitle
    .profile-usertitle-name
      = @user.agency_name
    .profile-usertitle-subheading
    %h4 My Profile
  .profile-userbuttons
    -if @user.donor?
      = simple_form_for [@user, @new_donation] do |f|
        = f.error_notification
        = f.button :submit, 'Start New Donation', class: 'btn btn-success btn-md'

  .profile-usermenu
    %ul.nav
      %li
        = link_to 'Profile', receiver_path(@user) if @user.receiver?
        = link_to 'Profile', donor_path(@user) if @user.donor?
      %li
        = link_to 'Donations', receiver_donations_path(@user) if @user.receiver?
        = link_to 'Donations', donor_donations_path(@user) if @user.donor?
      - if @user.receiver?
        %li
          = link_to 'Availability', receiver_donation_schedules_path(@user)
        %li
          = link_to 'Restrictions', receiver_restriction_path(@user, @user.restrictions.first)
      - if @user.donor?
        %li
          = link_to 'Foods', donor_foods_path(@user)
      -# %li
      -#   %a
      -#     My Reports
      %li
        = render partial: 'layouts/signout'
