.profile-sidebar
  .profile-userpic
    =image_tag 'profile-placeholder.png', class: 'img-responsive'

  .profile-usertitle
    .profile-usertitle-name
      = @user.email
    .profile-usertitle-subheading
    %h4 My Profile
  .profile-userbuttons
    = link_to 'Start New Donation', new_donor_donation_path(@user), class: 'btn btn-success btn-md' if @user.donor?

  .profile-usermenu
    %ul.nav
      %li
        = link_to 'My Profile', user_path(@user)
      %li
        = link_to 'My Donations', user_donations_path(@user)
      %li
        %a
          My Reports
      %li
        = render partial: 'layouts/signout'
